venv/
.ipynb_checkpoints/
.idea/
env/
.env
vectorDB/
data/
download/**
.cache_bkup
model.json


# fast api
__pycache__

# DreamInterPretTest 중 데이터 부분
DreamInterPretTest/data
DreamInterPretTest/embeddings

# DreamCombinerTest 중 데이터 부분
DreamCombinerTest/data
DreamCombinerTest/embeddings

# 배포용 정적 파일 경로
staticfiles/
