{% load static %}

<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>꿈 일기장</title>
    <link rel="stylesheet" href="{% static 'css/common.css' %}">
    <link rel="stylesheet" href="{% static 'css/header.css' %}">
    <link rel="stylesheet" href="{% static 'css/diary_list.css' %}">
</head>
<body>
    {% include 'header.html' %}

    <section class="calendar-nav">
        <a href="{% url 'diary_list' prev_yyyymm %}">◀</a>
        <span>{{ year }}년 {{ month }}월</span>
        <a href="{% url 'diary_list' next_yyyymm %}">▶</a>
    </section>

    <table class="calendar">
        <thead>
        <tr>
            <th>일</th>
            <th>월</th>
            <th>화</th>
            <th>수</th>
            <th>목</th>
            <th>금</th>
            <th>토</th>
        </tr>
        </thead>
        <tbody>
        {% for week in month_days %}
        <tr>
            {% for cell in week %}
            {% if cell.day %}
            <td class="
                            {% if cell.day == today_day %}today{% endif %}
                            {% if cell.is_good %} good
                            {% elif cell.is_bad %} bad
                            {% elif cell.is_normal %} normal
                            {% endif %}">
                {% if cell.pk %}
                <a href="{% url 'diary_detail' pk=cell.pk %}">
                    {{ cell.day }}
                </a>
                {% else %}
                {{ cell.day }}
                {% endif %}
            </td>
            {% else %}
            <td class="empty"></td>
            {% endif %}
            {% endfor %}
        </tr>
        {% endfor %}
        </tbody>
    </table>

    {% include 'footer.html' %}
    <script src="{% static 'js/header.js' %}"></script>
</body>
</html>
