{% load static %}
<link rel="stylesheet" href="{% static 'css/header.css' %}">

<!-- 상단 로고 -->
<a href="{% url 'index' %}">
    <div class="logo-bar">DreamLens</div>
</a>

<!-- 햄버거 버튼 -->
<button id="hamburgerBtn" class="hamburger">☰</button>

<!-- 사이드 패널 -->
<div class="side-panel" id="sidePanel">
    <div style="text-align:right;">
        <button id="closePanelBtn">❌</button>
    </div>
    <p>만나서 반갑습니다!</p>
    <a href="#" class="btn">로그인</a>
    <a href="#" class="btn">회원가입</a>
    <hr>
    <a href="#" class="btn">🔮 해몽하기</a>
    <a href="{% url 'dream_dict_view' %}" class="btn">📖 꿈 사전</a>
    <a href="{% url 'dream_combiner' %}" class="btn">🧩 꿈 조합기</a>
    <a href="#" class="btn">📘 내 일기장</a>
    <a href="#" class="btn">📊 분석 리포트</a>
</div>

<script src="{% static 'js/header.js' %}"></script>
