{% include 'header.html' %}

<form method="post">
  {% csrf_token %}
  <input type="text" name="username" placeholder="아이디">
  <input type="password" name="password" placeholder="비밀번호">
  <button type="submit">로그인하기</button>
</form>

{<!-- ✅ 메시지 구분 출력 -->
{% if messages %}
  {% for message in messages %}
    {% if 'signup' in message.extra_tags %}
      <p style="color:green;">{{ message }}</p>
    {% elif message.tags == 'error' %}
      <p style="color:red;">{{ message }}</p>
    {% endif %}
  {% endfor %}
{% endif %}
{% include 'footer.html' %}