{% load static %}

<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>DreamLens</title>
    <link rel="stylesheet" href="{% static 'css/common.css' %}">
</head>
<body>
    {% include "header.html" %}

    <main style="padding: 40px; text-align: center;">
        <h1>꿈의 조각을 맞춰보세요!</h1>

        <div>
            <a href="/interpret/" class="btn big">🔮 해몽하러 가기</a><br>
            <a href="/dict/" class="btn big">📘 꿈 사전 보기</a><br>
        </div>
    </main>

    {% include "footer.html" %}

    <script src="{% static 'js/header.js' %}"></script>
</body>
</html>
